<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.dao.CartDao">

    <select id="findCartItemsByUserId" parameterType="long" resultType="com.ht.model.CartDomain">
        SELECT * FROM cart WHERE userId = #{userId}
    </select>

    <select id="findCartItemByUserIdAndProductId" parameterType="map" resultType="com.ht.model.CartDomain">
        SELECT * FROM cart WHERE userId = #{userId} AND productId = #{productId}
    </select>

    <insert id="insertCartItem" parameterType="com.ht.model.CartDomain" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart (userId, productId, quantity)
        VALUES (#{userId}, #{productId}, #{quantity})
    </insert>

    <update id="updateCartItem" parameterType="com.ht.model.CartDomain">
        UPDATE cart SET quantity = #{quantity} WHERE cartID = #{cartId}
    </update>

    <delete id="deleteCartItem" parameterType="long">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

    <delete id="deleteAllCartItemsByUserId" parameterType="long">
        DELETE FROM cart WHERE user_id = #{userId}
    </delete>

</mapper>
